.layout-body {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: rgb(66, 63, 62);
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.synth-container {
  width: 50vw;
  height: 30vh;
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  border-radius: 10px;
}

button {
  font-size: 3vh;
  padding: 1vh;
  border: none;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 4px;
  width: 7vw;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #3e8e41;
}
