.fx-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  align-items: center;
  border-right: 2px solid black;
  font-size: 3.2vh;
  font-family: "VT323", monospace;
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  text-shadow: 0.75px 0.75px 0.75px black;
}

.delay-container {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  height: 100%;
  background-color: rgb(62, 67, 46);
}
.reverb-container {
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid black;

  align-items: center;
  flex-direction: column;
  background-color: rgb(250, 88, 182);
}
.phaser-container {
  color: rgb(203, 228, 222);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(6, 70, 99);
  border-bottom: 1.5px solid black;
}
.flanger-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1.5px solid black;
}
