.osc-component2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  height: 100%;
  flex-direction: column;
  border-bottom: 2px solid black;
  background-color: rgb(234, 234, 204);
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  text-shadow: 0.75px 0.75px 0.75px black;
}

.my-knob path.knob-circle {
  fill: white !important;
}

.p-knob-text {
  color: white;
}

.pitch-controls {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 1vh;
}

.osc-container {
  display: flex;

  height: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 4vw;
}

.pitch-arrow {
  height: 4vh;
  margin-left: 1vw;
  margin-right: 1vw;
  cursor: pointer;
}

.semitones {
  margin-left: 1vw;
  margin-right: 1vw;
}

.wave-icon {
  height: 3vh;
  margin: 0.5vw;
  cursor: pointer;
}
